@import "../../styles/colors.css";

.table {
  display: table;
  font-size: 1rem;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 10px;
}

.cell:nth-child(1) {
  background: var(--MEDIUMTURQUOISE);
}

.cell:nth-child(2) {
  background: var(--CADETBLUE);
}

.cell:nth-child(3) {
  background: var(--DODGERBLUE);
}

.cell.gold {
  background: var(--GOLD);
}